.Contact {
  width: 100%;
  max-width: 400px;
  padding: 40px 36px;
}
.Contact_Title {
  font-size: 3.4rem;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.5;
}
.Contact_Text {
  font-size: 1.4rem;
  margin: 0 0 32px 0;
  padding: 0;
  color: #888;
  text-align: center;
}
.Contact_Label {
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0 0 8px 0;
}
.Contact_InputText {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0 0 24px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Segoe UI Emoji", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.Contact_InputText:hover {
  border: 1px solid #aaa;
}
.Contact_Textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0 0 24px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Segoe UI Emoji", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  resize: vertical;
}
.Contact_Textarea:hover {
  border: 1px solid #aaa;
}
.Contact_Button {
  font-size: 1.4rem;
  margin: 0 auto;
  display: block;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  background: #333;
  color: #fff;
  transition: background .2s;
  font-family: "Segoe UI Emoji", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.Contact_Button:hover {
  background: #000; 
}
@media (min-width: 600px) {
  .Contact_Title {
    font-size: 4rem;
  }
  .Contact_Text {
    font-size: 1.6rem;
    margin: 0 0 48px 0;
  }
  .Contact_InputText {
    margin: 0 0 28px 0;
  }
  .Contact_Textarea {
    margin: 0 0 28px 0;
  }
}


.Complete {
  width: 100%;
  max-width: 400px;
  padding: 40px 36px;
  text-align: center;
}
.Complete_Icon {
  width: 44px;
  height: 44px;
}
.Complete_Title {
  font-size: 3.4rem;
  margin: 12px 0 4px 0;
  padding: 0;
  text-align: center;
  line-height: 1.5;
}
.Complete_Text {
  font-size: 1.4rem;
  margin: 0 0 28px 0;
  padding: 0;
  color: #888;
  text-align: center;
}
.Complete_Link {
  font-size: 1.4rem;
  text-align: center;
}
@media (min-width: 600px) {
  .Complete_Icon {
    width: 50px;
    height: 50px;
  }
  .Complete_Title {
    font-size: 4rem;
  }
  .Complete_Text {
    font-size: 1.6rem;
  }
  .Complete_Link {
    font-size: 1.6rem;
  }
}